.sidebar{
  min-width: var(--anchosiderbar);
  background-color: var(--colorSidebar);
  color: var(--colorLetras);
  height: 100%;
  min-height: calc(100%);
  float: left;
  position: relative;
}

.sidebar[darkmode = "false"]{
  background-color: var(--colorSidebarClaro);
  color: var(--letrasOscuras)!important;
}

input{
  color: var(--letrasOscuras);
}

.sidebar ul{
  margin-top: 40px;
}

.sidebar ul li a{
  text-decoration: none;
  font-size: 1.2rem;
}

.sidebar ul li{
  border-bottom: 1px solid gray;
}

.sidebar li:hover{
  background-color: #686868;
}

.desc-grupo{
  margin: 0;
  width: 90%;
  border-top: 1px solid #686868;
  position: absolute;
  bottom: 0;
}

.desc-grupo p{
  text-align: left;
}

@media (max-width: 500px){
  .sidebar{
    width: 200px;
  }
}