.tgrande {
    height: 450px;
    background-color: rgb(251, 251, 251);
    overflow:hidden;
    position: relative;
    top: 0;
    left: 0;
}

.tgrande h1{
    padding: 25px 25px 25px 25px;
    /* color: rgb(255, 255, 255); */
    /* text-align: right; */
}


.tgrande .btn{
    position:absolute;
    left: 56px;
    bottom: 45px;
}

.tgrande-desc {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 50%;
    float: right;
    /* margin-right: 20px; */
}

.tgrande-desc p {
    font-size: 18px;
}

.rate_tg {
    display: flex;
    align-items: baseline;
}

.tgrande-base {
    background-color: var(--degrade);
    height: 100%;
}

@media (max-width: 955px) {
    .tgrande-desc {
        position: absolute;
        bottom: 30px;
        right: 2%;
        width: 95%;
        float: right;
    }

    .tgrande h1{
        font-size: rem;
        padding: 10px 25px 10px 25px;
        /* color: rgb(255, 255, 255); */
        text-align: right;
    }

    .tgrande-desc p{
        visibility: collapse;
    }
}

@media (max-width: 715px) {
    .tgrande-desc {
        position: absolute;
        bottom: 10px;
        right: 2%;
        width: 95%;
        float: right;
    }

    .tgrande h1{
        font-size: rem;
        padding: 10px 25px 0px 25px;
        /* color: rgb(255, 255, 255); */
        text-align: right;
    }
}