.titulo_lista {
	text-align: start;
}

/* .titulo_lista[darkmode="false"]{
	color: rgb(59, 59, 59);
} */

.contenedor_lista {
    padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 20px;
    position: relative;
	overflow: hidden;
}

.lista {
    display: flex;
    align-items: center;
}

.contenedor_lista .flecha-izquierda,
.contenedor_lista .flecha-derecha {
	position: absolute;
	border: none;
	background: var(--degrade);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: var(--colorOutline);
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.contenedor_lista .flecha-izquierda {
	left: 20px;
}

.contenedor_lista .flecha-derecha {
	right: 0;
}

.contenedor_lista .flecha-izquierda:hover,
.contenedor_lista .flecha-derecha:hover {
	/* background: rgba(0,0,0, .9); */
	background: var(--degradeHover);
}

.lista {
	width: 100%;
	padding: 8px 25px;
	overflow: hidden;
	scroll-behavior: smooth;
}