.fondo{
    background-image: url(../../../public/images/perspective_alpha_website_large.jpg);
    min-height: calc(100vh) !important;
    width: 100%;
}

.contenedor{
    margin: 0 auto 0 auto;
    background-color: rgba(0,0,0,.65);
    padding-top: 10px !important;
    padding-left: 80px;
    padding-right: 80px;
    width: 60% !important;
    min-height: calc(100vh);
}

.formulario {
    margin: 0 auto 0 auto;
    width: 80%;
}

.formulario input[type=submit]{
    width: 100%;
}

.form-select * {
    color: #2e2e2e !important;
}

legend {
    clear: both;
    display: block;
}

label{
    clear: both;
    display: block !important;
}

.contenedor h1{
    text-align: center !important;
}

.contenedor h2{
    text-align: center !important;
}

.contenedor h3{
    text-align: center !important;
}

.contenedor p{
    text-align: center !important;
}

.contenedor input{
    text-align: center !important;
}

.contenedor h2, h3, p, input{
    text-align: center !important;
}

.input-email{
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: none;
    margin-right: 20px;
}

.input-edad{
    width: 100%;
}

.input-lang{
    width: 100%;
}

.input-logo{
    width: 100%;
}

.error {
    margin-top:10px;
    padding: 7px;
    background-color: #550000;
    color: white;
    z-index: 5;
}

#error-signin{
    visibility: hidden;
}

#error-register-password{
    visibility: hidden;
}

#error-register-email-existente{
    visibility: hidden;
}

#error-register-email-invalido{
    visibility: hidden;
}

#error-reset-password{
    visibility: hidden;
}

#error-reset-sent{
    visibility: hidden;
}

@media (max-width: 900px){
    .contenedor{
        padding: 10px;
        width: 80% !important;
    }
    
    .formulario {
        width: 80%;
    }
}

@media (max-width: 600px){
    .contenedor{
        padding: 10px;
        width: 100% !important;
    }
    
    .formulario {
        width: 100%;
    }
}