nav {
    height: var(--navbarheight);
    background-color: var(--colorFondo);
}

.navbar-nav {
    justify-content: center;
    width: 100%;
}

.navbar-nav a {
    color: var(--colorSecundario);
    font-size: 16px;
}

.Login {
    height: 37px;
    background-color: var(--colorPrincipal) !important;
    margin: 2px 20px;
    font-weight: bold !important;
    border-radius: 2rem 2rem 0 2rem !important;
    width: 150px;
}

.navbar .InputBuscador {
    height: 40px;
    outline: none;
    box-sizing: border-box;
    width: 40px;
    color: #000;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid #000;
    transition: all .7s ease;
    background-color: var(--colorSecundario);
}

.navbar .lupa {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--colorPrincipal) !important;
    border-radius: 2rem 2rem 0 2rem !important;
    cursor: pointer;
    transition: .5s;
    align-items: center;
}

.navbar .lupa svg {
    transition: all .7s ease;
}

.navbar .form-group:hover input {
    background-color: var(--colorSecundario);
    width: 350px;
}

.navbar .form-group:hover svg {
    transform: rotate(-360deg);
}

.status-highlight {
    border-bottom: 3px solid rgb(255, 78, 78);
    color: #ffffff;
}

.status-highlight a {
    color: #ffffff !important;
}

.status-idle {
    border-bottom: 0;
    border-radius: 0;
}

.status-idle a {
    color: var(--colorSecundario);
}

button {
    background-color: transparent;
    border: 0 !important;
}

.subrayado {
    border-bottom: 3px solid #990000 !important;
}

.contenedor_busqueda_darkmode {
    display: flex;
    align-items: center;
}