nav{
    height: var(--navbarheight);
}


.navbar-nav {
    justify-content: center;
    width: 100%;
}

.navbar-nav a {
    color : #a5b4fc;
    font-weight: bold; 
}

.Login {
    background-color: #4845d2 !important;
    margin: 2px;
    font-weight: bold !important;
    border-radius: 1rem !important;
}

.container {
    display: flex;
}