:root{
  --colorFondo : #000000;
  --colorLetras : #ffffff;
  --colorSidebar : #5c5c5c;
  --letrasOscuras: #303030; 
  --navbarheight: 60px;
  --colorPrincipal: #4845d2;
  --colorSecundario:#a5b4fc;
}

* {
  text-align: justify;
  color: var(--colorLetras);
}

ul li {
  list-style-type: none;
}

body {
  /* hace override al blanco de boostrap 
  luego quitar con el nightmode */
  background-color: #202020 !important;
  margin: 0;
}

.peliculas{
  display: grid;
  padding:20px;
}
