
.notfound_contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.notfound_desc {
    width: 60%;
}

.notfound_desc h1, .notfound_desc h3 {
    text-align: center !important;
}

.notfound_desc h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.notfound_home {
    font-size: 20px;
    border: 2px solid #979797;
    padding: 10px 15px;
    text-decoration: none;
    color: #979797;
    margin: 40px 10px 0 ;
}

.notfound_home:hover {
    text-decoration: none;
    color: white;
    border: 2px solid white;
}