.notfound-list{
    display: grid;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.notfound-list li{
    width: 80%;
}

.notfound-list li a{
    text-decoration: none;
}

.notfound-list li:hover{
    background-color: gray;
}