
.contenedor-peliculas {
    display: flex;
    flex-wrap: wrap;
}

.contenedor_categoria {
    min-height: calc(100vh - 75px);
}

.letras {
    color: var(--pruebaColor);
}

.categoria_error {
    width: 80%;
    margin-top: 5%;
}