.form-group {
    display: flex;
    position: relative;
    margin: auto;
}

.InputBuscador {
    margin: 2px;
}

.btn {
    margin: 1px;
    background: #4845d2;
}

.Icono {
    margin: auto;
    padding: 10px;
}
