.tarjeta {
    width: 280px;
    height: 170px;
    margin: 10px 5px;
    border-radius: 5px;
    transition: transform .2s;
}

.tarjeta:hover {
    transform: scale(1.2);
    background-color: var(--colorFondo);
    border: 2px solid var(--colorOutline);
}

.card_info {
    background-color: var(--degrade);
    width: 100%;
    height: 100%;
    padding: 4px 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.titulo {
    text-align: start;
}

.generos {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}

.genero {
    margin-right: 10px;
    font-size: 15px;
    line-height: 8px;
}
