.popupUsers{
    border-top: 1px solid var(--colorLetras);
    border-left: 1px solid var(--colorLetras);
    border-right: 1px solid var(--colorLetras);
    width: 100px;
    height: auto;
    background-color: var(--colorBody);
    color: var(--colorLetras);
    z-index: 20;
    position: relative;
    top: 15px;
}

.accion {
    border-bottom: 1px solid var(--colorLetras);
    padding-top: 10px;
    padding-bottom: 10px;
}