
.perfil_imagen {
    width: 180px;
    height: 180px;
    border-radius: 8px;
}

.perfil_imagen_hover {
    width: 180px;
    height: 180px;
    border-radius: 8px;
    outline: 3px solid white;
}

.nombre_perfil_hover {
    font-size: 25px;
    margin: 10px auto;
    text-align: center;
    color: white;
}

.nombre_perfil {
    font-size: 25px;
    margin: 10px auto;
    color: #616161;
    text-align: center;
}

.perfil_tarjeta {
    margin: 0 15px;
}

.perfil_tarjeta:hover {
    cursor: pointer;
}

.edit_pencil {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 66px;
    border-radius: 8px;
}

.base_tarjeta {
    background-color: white;
    border-radius: 8px;
}

@media (max-width: 900px){

    .perfil_imagen {
        width: 80px;
        height: 80px;
    }

    .perfil_imagen_hover {
        width: 80px;
        height: 80px;
    }

    .nombre_perfil {
        font-size: 15px;
    }

    .nombre_perfil_hover {
        font-size: 15px;
    }
}

@media (max-width: 600px){

    .perfil_imagen {
        width: 80px;
        height: 80px;
    }

    .perfil_imagen_hover {
        width: 80px;
        height: 80px;
    }

    .nombre_perfil {
        font-size: 15px;
    }

    .nombre_perfil_hover {
        font-size: 15px;
    }
}